.choice {
    background: url("../images/bg-triangle.svg") no-repeat;
    background-position: center 3.5em;
    background-size: 15em 14em;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap:2em;
}

.choice-bg {
    pointer-events: none;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: inset 0em .25em 0.1em .1em rgb(202, 202, 202);
    background: white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.rock, .paper, .scissors {
    display:flex;
    justify-content: center;
    align-items:center;
    width: 8.5em;
    height: 8.5em;
    border-radius:50%;
    transition:all .2s ease-out;
}

.paper {
    background: linear-gradient(hsl(230, 89%, 62%),hsl(230, 89%, 65%));
    box-shadow: 0px 8px 0px .5px hsl(230, 54%, 38%);
}

.scissors {
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: 0px 8px 0px .5px hsl(40, 77%, 28%);
}

.rock {
    background: linear-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    box-shadow: 0px 8px 0px .5px hsl(349, 55%, 31%);
}

.scissors:hover, .paper:hover, .rock:hover {
    transform:scale(1.2);
    transition:all .2s ease-out;
}

