.main-header {
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
  }

  
.header-container {
    border: solid hsl(217, 16%, 45%);
    /* width: 90%; */
    border-radius: .75em;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: .75em .75em;
}

.header__logo {
    padding-right: 1em;
    width:6em;
    margin-right: 7em;
}

.header__score-container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: white;
    border-radius: .5em;
    padding: .5em 1.5em;


}

.header__score {
    margin: 0;
    color: hsl(229, 25%, 31%);
    font-size: 2em;
    font-weight: 700;
}

small {
    font-size: .5em;
    letter-spacing: .1em;;
    color: hsl(229, 64%, 46%);
}

