.rules {
    color: hsl(229, 25%, 31%);
    position: absolute;
    top: 0;
    background:white;
    z-index:1;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:column;
    padding: 1em 2em;
    height: 100vh;
    width: 100%;
}

.rules__close-button {
    background:none;
    border:none;
    cursor: pointer;
    transition:all .2s ease-in;

}

.rules > img {
    margin-bottom: 1em;
    width:90%;
}

.rules__close-button:hover {
    transition:all .2s ease-in;
    transform:scale(1.4);
}