.App {
  text-align: center;
  height: 100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  overflow:hidden;
  
}
.blur {
    filter:blur(10px);
}

.ch {
  margin: 6em 0em 0em;
  display: flex;
  justify-content: center;
  width: 65%;
  flex-grow:1;
  height: 300px;
}

.res {
  display: flex;
  justify-content: center;
  width: 65%;
  flex-grow:1;
}

@media screen and (min-width: 82em) {
  .result-container{
    transform:scale(.9) !important;
  }
  .result-show{
    order:3;
  }
  .header-container {
    width:80% !important;
    transform:scale(1) !important;
    
  }

  .player, .opponent {
    /* transform:scale(.6) !important; */
    width:50% !important;
    justify-content:center !important;
  }
}

@media screen and (min-width: 62em) {
  
  .player, .opponent {
    transform:scale(.8) !important;
    width:50% !important;
  }

  .player-before, .opponent-before {
    transform: scale(.7) !important;
    margin: 0 !important;
  }

  .chosen-opponent {
    justify-content: center !important;
  }

  .result {
    order:3;
  }
}

@media screen and (min-width: 43) {
  .res{
    width: 85%;
  }

  .ch {
    margin:0;
  }
  .result-show{
    order:3;
    padding:0 !important;
    transform:scale(1.5) !important;
  }
  .result {
    width:100% !important; 
    order: 3;
  }
  .player, .opponent {
    transform:scale(.7) !important;
    justify-content:center !important;
    align-items:center !important;
    /* width:50% !important; */
  }
  .picked-player, .picked-opponent {
    order:2;
  }

  .choice {
    transform: scale(.6) !important;
  }

  .win-player, .win-opponent {
    margin-bottom: 8em !important;
    z-index:-1 !important;

  }
  .player-before, .opponent-before {
    transform:scale(.7) !important;
    width:50%;

  }

  footer {
    justify-content: center !important;
    padding-bottom: 2em !important;
  }

  .rules-btn {
    transform:scale(1.3) !important;
  }

  .header-container {
    width:110% !important;
    transform:scale(.55) !important;
    
  }
}