.App {
  text-align: center;
  height: 100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  overflow:hidden;
  padding: 1em;
  
}
.blur {
    filter:blur(10px);
}

.ch {
  width: 100%;
}

@media screen and (min-width: 576px) {
  body{ font-size: 18px; }
  .App {padding: 2em 4em;}
  
}

@media screen and (min-width: 768px) {
  body{ font-size: 20px; }
  .App {padding: 2em 8em;}

}

@media screen and (min-width: 992px) {
  .picked-opponent, .picked-player { order: 0 !important;}
  .win-player, .win-opponent {margin-bottom:-2.5em !important;}
  .header-container {width:55% !important; }
  footer { justify-content:flex-end !important;}
  footer {padding:0em 2em !important;}
  .App {padding: 2em 5em;}
  .player-before, .opponent-before { font-size:32px !important;}
  .player, .opponent{font-size:32px;}
  .result-show {order:0 !important; margin: 0em 3em !important; font-size: 15px !important; flex-grow:1 !important;}
  .choice {font-size:larger;}
  header {font-size:24px !important;}
  .header-container {width: 75% !important;}
  .choice-advanced{width: 40% !important; align-self: center !important; transform:scale(1) !important;}
  /* .advanced__upper, .advanced__middle, .advanced__lower { transform:scale(1) !important;} */
  .ch {display:flex; justify-content:center;}
}